body {
    display: grid;
    font-size: 100%;
    font-family: 'Lato', Arial, sans-serif;

    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
    "title tasks tasks"
    "tool-bar tasks tasks"
    "tool-bar tasks tasks";
}

header {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
    margin: 0px 10px;
}

article {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
    
}

#tool_bar {
    margin: 10px 10px;
    background: #f88;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
}
